<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pagina teste</title>
    <style>
        ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        padding: 16px;
    </style>
</head>
<body>
<nav>
    <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a>Carrinho</a></li>
        <li><a>Sobre</a></li>
    </ul>
</nav>

</body>
</html>